{{page-title "Add"}}
<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Add sections</h4>
    <div class="field">
      <label>Name</label>
      <Input type="text" name="first-name" placeholder="Section's name" @value={{@model.name}}/>
    </div>
    <LinkTo class="ui button" @route="section">Cancel</LinkTo>
    <button {{action "save" @model}} class="ui grey button">Save </button>
  </form>
</div>

{{outlet}}